doctype html
html(lang="en")
	head
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Interfaz de invalidaci&#243;n
		link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", href="/bootstrap/css/bootstrap-theme.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="/bootstrap/js/bootstrap.min.js")
		style
			|.btn-default.active {
			| background-color: #5bc0de;
			|}
	body
		.container-fluid
			h1.text-primary
				| Interfaz de invalidaci&#243;n
				small http://www.santalucia.es
			// form.form-horizontal(action="/", method="post", role="form")
			textarea#result.form-control.input-sm.col-xs-2.disabled(style="resize: none;")
			span.help-block
				| &Uacute;ltimas peticiones recibidas. 
			form#form-preview.form-horizontal(role="form")
				// ROW 1
				#tile-sort.btn-group.row.col-xs-2(data-toggle="buttons")
					h2 Dominio:
					label.btn.btn-default.active.btn-block
						input#domain1(type="radio", name="domain", value="www.santalucia.es", autocomplete="off", checked="")
						| www.santalucia.es
					label.btn.btn-default.btn-block
						input#domain2(type="radio", name="domain", value="cdn1.santalucia.es", autocomplete="off")
						| cdn?.santalucia.es
				p
					// ROW 2
					.btn-group.row.col-xs-2(data-toggle="buttons")
						h2 Subcadena o expresi&#243;n:
						label.btn.btn-default.active.btn-block
							input#mode1(type="radio", name="mode", value="substring", autocomplete="off", checked="")
							| Subcadena
						label.btn.btn-default.btn-block
							input#mode2(type="radio", name="mode", value="regex", autocomplete="off")
							| Expresi&#243;n
				p
					// ROW 3
					.form-group.col-xs-2
						input#formGroupInputLarge.form-control(name="urlstring", type="text", required placeholder="Escribe la subcadena o expresión deseada.")
						span.help-block
							| Para invalidar la 
							em home 
							| selecciona 
							strong Expresi&#243;n 
							| y escribe 
							strong /$
						span.help-block
							| Para invalidar 
							strong toda 
							| la 
							em cache 
							| del dominio seleccionado selecciona 
							strong Subcadena 
							| y escribe 
							strong /
					// ROW 4
					.form-group.col-xs-2
						input.form-control(name="action", type="hidden", required value="preview")
						// button.btn.btn-warning.btn-default.btn-lg.btn-block(name="action", value="preview", type="submit") Previsualizar
						button#preview.btn.btn-warning.btn-default.btn-lg.btn-block(type="submit",data-loading-text="Enviando..." data-complete-text="Previsualizar") Previsualizar
					// container
			script(src="/iwwi.js")
//
	Success! Your configuration has been saved to https://gist.github.com/4cc8522f19a4b3bbc3d4 and can be revisited here at http://getbootstrap.com/customize/?id=4cc8522f19a4b3bbc3d4 for further customization.

